@import '../../styles/variables.scss';

.sort-filter {
  background-color: $color-main-dark;
  padding: 1rem;
  margin-right: 5rem;
  width: calc(20% - 5rem);
  height: 100%;
  color: $color-main-light;
  outline: none;
  border: none;
}