@import "../../styles/variables.scss";

.form-view {
  height: 100vh;
  width: 100%;
  background-color: $color-main-dark;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.image-section {
  background-image: url("../../assets/movie-back.jpg");
  background-position: center;
  background-size: cover;
  height: 40%;
  width: 100%;
}

.form-section {
  background-color: $color-main-dark;
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.form-container {
  min-height: 30%;
}

.form-head {
  font-size: 5rem;
}

@media screen and (min-width: 512px) {
  .image-section {
    width: 30%;
    height: 100%;
  }
}