$color-main: #0d1931;
$color-main-dark: #0b101b;
$color-main-light: #475884;
$color-secondary: #DE0E46;
$color-tertiary: #00C5FD;
$color-white: #F4F5F8;
$color-gray: #d1d1d1;

$font-head: 'Viga', sans-serif;
$font-body: 'Source Sans Pro', sans-serif;
